/* line 5, ../../compass/sass/_navbar.scss */
nav {
  position: fixed;
  left: 0px;
  top: 0px;
}
/* line 9, ../../compass/sass/_navbar.scss */
nav a {
  font-family: "Poiret One", cursive;
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  width: 100%;
}
/* line 17, ../../compass/sass/_navbar.scss */
nav a:hover {
  color: #00665E;
  text-decoration: none;
}

/* line 23, ../../compass/sass/_navbar.scss */
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

/* line 35, ../../compass/sass/_navbar.scss */
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* line 51, ../../compass/sass/_navbar.scss */
#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #E2D3C6;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 10px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

/* line 70, ../../compass/sass/_navbar.scss */
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

/* line 74, ../../compass/sass/_navbar.scss */
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* line 79, ../../compass/sass/_navbar.scss */
#menuToggle input:checked ~ span {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  background: #005374;
}

/* line 86, ../../compass/sass/_navbar.scss */
#menuToggle input:checked ~ span:nth-child(2) {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/* line 92, ../../compass/sass/_navbar.scss */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
}

/* line 97, ../../compass/sass/_navbar.scss */
#menu-bg {
  background: #E2D3C6;
  height: 100%;
}

/* line 102, ../../compass/sass/_navbar.scss */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #E2D3C6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/* line 120, ../../compass/sass/_navbar.scss */
#menu li {
  padding: 10px 0;
  font-size: 22px;
  height: 50px;
}

/* line 126, ../../compass/sass/_navbar.scss */
#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

@media only screen and (max-width: 480px) {
  /* line 132, ../../compass/sass/_navbar.scss */
  #menu {
    width: 100%;
  }
}
/* line 1, ../../compass/sass/_survey.scss */
.survey-box {
  border: 5px solid lightgray;
  height: 100vh;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

/* line 20, ../../compass/sass/_survey.scss */
.visible {
  padding-top: 15vh;
}
/* line 25, ../../compass/sass/_survey.scss */
.visible input {
  height: 200px;
  width: 200px;
}

/* line 31, ../../compass/sass/_survey.scss */
.btn {
  display: inline-block;
  border: 2px solid #ccc;
  margin-right: 5px;
  padding: 2px 5px;
  cursor: pointer;
}

/* line 38, ../../compass/sass/_survey.scss */
.btn.on {
  background-color: #777;
  color: white;
}

/* line 3, ../../compass/sass/_home.scss */
.homepage {
  height: 100vh;
}

/* line 7, ../../compass/sass/_home.scss */
.header-div {
  top: 30vh;
  text-align: center;
  position: relative;
  height: 130px;
}

/* line 14, ../../compass/sass/_home.scss */
.logo {
  height: 130px;
  display: inline-block;
}

/* line 19, ../../compass/sass/_home.scss */
.site-title {
  font-size: 100px;
  text-align: left;
  display: inline-block;
  margin-left: 20px;
}

@media screen only and (max-width: 960px) {
  /* line 27, ../../compass/sass/_home.scss */
  .header-div {
    top: 10vh;
    position: fixed;
  }
}
/* line 33, ../../compass/sass/_home.scss */
.next-page-div {
  bottom: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0px;
  margin-bottom: 30px;
}

/* line 42, ../../compass/sass/_home.scss */
.next-page-arrow-right, .next-page-arrow-left {
  background-color: #E2D3C6;
  height: 5px;
  width: 70px;
  display: inline-block;
  margin: -5px;
}

/* line 50, ../../compass/sass/_home.scss */
.next-page-arrow-left {
  transform: rotate(25deg);
}

/* line 54, ../../compass/sass/_home.scss */
.next-page-arrow-right {
  transform: rotate(-25deg);
}

/* line 58, ../../compass/sass/_home.scss */
.next-page-title {
  font-family: "Poiret One", cursive;
  font-size: 20px;
  color: #E2D3C6;
}

/* line 1, ../../compass/sass/_about.scss */
#about {
  height: 100vh;
}
/* line 3, ../../compass/sass/_about.scss */
#about h1 {
  text-align: center;
}

/* line 1, ../../compass/sass/_listview.scss */
.category-title {
  font-size: 20px;
}

/* line 5, ../../compass/sass/_listview.scss */
.item {
  padding-bottom: 5px;
}

/* line 1, ../../compass/sass/_profile.scss */
.trip-user-info {
  border-top: solid 1px darkgray;
  border-bottom: solid 1px darkgray;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* line 8, ../../compass/sass/_profile.scss */
.trip-user-info a {
  color: #cdcdcd;
}

/* line 13, ../../compass/sass/_profile.scss */
.saved-header {
  border-bottom: solid 1px darkgray;
}

/* line 17, ../../compass/sass/_profile.scss */
.saved-trips-link {
  border-bottom: solid 1px darkgray;
}
/* line 19, ../../compass/sass/_profile.scss */
.saved-trips-link a {
  color: #cdcdcd;
}

/* line 1, ../../compass/sass/_howitworks.scss */
.hiw-container-div {
  height: 100vh;
}

/* line 5, ../../compass/sass/_howitworks.scss */
.page-title {
  margin-top: 100px;
}

/* line 9, ../../compass/sass/_howitworks.scss */
.how-box {
  border: solid 2px gray;
  height: 200px;
}

/* line 14, ../../compass/sass/_howitworks.scss */
.how-boxes-row {
  margin-top: 100px;
}

/* line 10, ../../compass/sass/styles.scss */
body {
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  font-family: "Arial", sans-serif;
}

/* line 18, ../../compass/sass/styles.scss */
h1, h2, h3, h4 {
  font-family: "Poiret One", cursive;
}
