/* line 5, ../../compass/sass/_navbar.scss */
nav {
  z-index: 3;
  position: fixed;
  left: 0px;
  top: 0px;
}
/* line 10, ../../compass/sass/_navbar.scss */
nav a {
  font-family: "Poiret One", cursive;
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  width: 100%;
}
/* line 18, ../../compass/sass/_navbar.scss */
nav a:hover {
  color: #00665E;
  text-decoration: none;
}

/* line 24, ../../compass/sass/_navbar.scss */
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

/* line 36, ../../compass/sass/_navbar.scss */
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* line 52, ../../compass/sass/_navbar.scss */
#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #E2D3C6;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 10px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

/* line 71, ../../compass/sass/_navbar.scss */
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

/* line 75, ../../compass/sass/_navbar.scss */
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* line 80, ../../compass/sass/_navbar.scss */
#menuToggle input:checked ~ span {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  background: #005374;
}

/* line 87, ../../compass/sass/_navbar.scss */
#menuToggle input:checked ~ span:nth-child(2) {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/* line 93, ../../compass/sass/_navbar.scss */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
}

/* line 98, ../../compass/sass/_navbar.scss */
#menu-bg {
  background: #E2D3C6;
  height: 100%;
}

/* line 103, ../../compass/sass/_navbar.scss */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #E2D3C6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/* line 121, ../../compass/sass/_navbar.scss */
#menu li {
  padding: 10px 0;
  font-size: 22px;
  height: 50px;
}

/* line 127, ../../compass/sass/_navbar.scss */
#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

@media only screen and (max-width: 380px) {
  /* line 133, ../../compass/sass/_navbar.scss */
  #menu {
    width: 100%;
  }
}
/* line 1, ../../compass/sass/_survey.scss */
.survey-box {
  border: 5px solid lightgray;
  height: 100vh;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

/* line 10, ../../compass/sass/_survey.scss */
div#next {
  cursor: pointer;
  display: inline-block;
}

/* line 14, ../../compass/sass/_survey.scss */
div#next:hover {
  color: cyan;
}

/* line 18, ../../compass/sass/_survey.scss */
.not-visible {
  display: none;
}

/* line 22, ../../compass/sass/_survey.scss */
.survey {
  padding-top: 15vh;
}
/* line 27, ../../compass/sass/_survey.scss */
.survey input {
  height: 200px;
  width: 200px;
}

/* line 33, ../../compass/sass/_survey.scss */
.btn {
  display: inline-block;
  border: 2px solid #ccc;
  margin-right: 5px;
  padding: 2px 5px;
  cursor: pointer;
}

/* line 40, ../../compass/sass/_survey.scss */
.btn.on {
  background-color: #777;
  color: white;
}

/* line 3, ../../compass/sass/_home.scss */
.homepage {
  height: 100vh;
  background-color: #232323;
  background-image: linear-gradient(rgba(35, 35, 35, 0.8), rgba(35, 35, 35, 0.8)), url("../images/plane-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 13, ../../compass/sass/_home.scss */
.header-div {
  top: 30vh;
  text-align: center;
  position: relative;
  height: 130px;
}

/* line 20, ../../compass/sass/_home.scss */
.logo {
  height: 100px;
  display: inline-block;
  margin-top: -80px;
}

/* line 26, ../../compass/sass/_home.scss */
.site-title {
  font-size: 100px;
  text-align: left;
  display: inline-block;
  margin-left: 20px;
  line-height: 100px;
}

/* line 34, ../../compass/sass/_home.scss */
.get-started-button {
  height: 50px;
  width: 250px;
  color: #84D4F0;
  background-color: #232323;
  border: solid 2px #4B9ECD;
  border-radius: 10px;
  font-family: "Poiret One", cursive;
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 5vh;
  outline: none;
}

/* line 48, ../../compass/sass/_home.scss */
.get-started-button:hover {
  color: #00665E;
  background-color: #E2D3C6;
  border: solid 2px #00665E;
  outline: none;
}

/* line 55, ../../compass/sass/_home.scss */
.get-started-button:active {
  color: #E2D3C6;
  background-color: #4B9ECD;
  border: solid 2px #E2D3C6;
  outline: none;
}

@media screen only and (max-width: 960px) {
  /* line 63, ../../compass/sass/_home.scss */
  .header-div {
    top: 10vh;
    position: fixed;
  }
}
/* line 69, ../../compass/sass/_home.scss */
.next-page-div {
  bottom: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0px;
  margin-bottom: 30px;
}

/* line 78, ../../compass/sass/_home.scss */
.next-page-arrow-right, .next-page-arrow-left {
  background-color: #E2D3C6;
  height: 5px;
  width: 70px;
  display: inline-block;
  margin: -5px;
}

/* line 86, ../../compass/sass/_home.scss */
.next-page-arrow-left {
  transform: rotate(25deg);
}

/* line 90, ../../compass/sass/_home.scss */
.next-page-arrow-right {
  transform: rotate(-25deg);
}

/* line 94, ../../compass/sass/_home.scss */
.next-page-title {
  font-family: "Poiret One", cursive;
  font-size: 20px;
  color: #E2D3C6;
}

/* line 1, ../../compass/sass/_about.scss */
#about {
  height: 100vh;
  margin-top: 20vh;
}
/* line 4, ../../compass/sass/_about.scss */
#about h1 {
  text-align: center;
  font-size: 80px;
}

/* line 10, ../../compass/sass/_about.scss */
.about-section {
  height: 200px;
  margin-top: 10vh;
}

/* line 15, ../../compass/sass/_about.scss */
.team-member {
  margin-top: 5vh;
  display: inline-block;
}

/* line 1, ../../compass/sass/_listview.scss */
.category-title {
  font-size: 20px;
}

/* line 5, ../../compass/sass/_listview.scss */
.item {
  padding-bottom: 5px;
}

/* line 1, ../../compass/sass/_profile.scss */
.trip-user-info {
  border-top: solid 1px darkgray;
  border-bottom: solid 1px darkgray;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* line 8, ../../compass/sass/_profile.scss */
.trip-user-info a {
  color: #cdcdcd;
}

/* line 13, ../../compass/sass/_profile.scss */
.saved-header {
  border-bottom: solid 1px darkgray;
}

/* line 17, ../../compass/sass/_profile.scss */
.saved-trips-link {
  border-bottom: solid 1px darkgray;
}
/* line 19, ../../compass/sass/_profile.scss */
.saved-trips-link a {
  color: #cdcdcd;
}

/* line 1, ../../compass/sass/_howitworks.scss */
.hiw-container-div {
  height: 100vh;
  text-align: center;
}
/* line 4, ../../compass/sass/_howitworks.scss */
.hiw-container-div h1 {
  font-size: 80px;
}

/* line 9, ../../compass/sass/_howitworks.scss */
.page-title {
  margin-top: 20vh;
}

/* line 13, ../../compass/sass/_howitworks.scss */
.how-box {
  height: 100%;
  font-weight: bold;
  font-size: 30px;
}

/* line 20, ../../compass/sass/_howitworks.scss */
.how-boxes-row {
  margin-top: 100px;
}

/* line 24, ../../compass/sass/_howitworks.scss */
.step-number {
  z-index: 6;
}
/* line 25, ../../compass/sass/_howitworks.scss */
.step-number h1 {
  font-size: 150px;
  opacity: 1;
  font-weight: bold;
  font-family: "Poiret One", cursive;
  color: #cdcdcd;
  opacity: 0.2;
  text-align: left;
}

/* line 38, ../../compass/sass/_howitworks.scss */
.step-icon {
  background-color: #E2D3C6;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin-top: -15vh;
  z-index: 1;
}
/* line 46, ../../compass/sass/_howitworks.scss */
.step-icon .fa {
  font-size: 60px;
  color: red;
}

/* line 52, ../../compass/sass/_howitworks.scss */
.steps {
  display: block;
  margin-top: 15vh;
}

@media only screen and (max-width: 960px) {
  /* line 58, ../../compass/sass/_howitworks.scss */
  .hiw-container-div {
    height: 100%;
    text-align: center;
  }
}
/* line 1, ../../compass/sass/_container.scss */
#single-page-content {
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 700ms;
  -o-transition: background-color 700ms;
  transition: background-color 700ms;
}

/* line 10, ../../compass/sass/_container.scss */
.colorOne {
  background-color: #232323;
}

/* line 13, ../../compass/sass/_container.scss */
.colorTwo {
  background-color: #00665E;
}

/* line 16, ../../compass/sass/_container.scss */
.colorThree {
  background-color: #005374;
}

/* line 11, ../../compass/sass/styles.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #232323;
  color: #cdcdcd;
  font-family: "Arial", sans-serif;
}

/* line 19, ../../compass/sass/styles.scss */
h1, h2, h3, h4 {
  font-family: "Poiret One", cursive;
}
